<%= link_to dream_path(dream), class: "text-decoration-none" do %>
  <div>
    <h2 class="no-margin text-white fs-5"><%= dream.title %></h2>
    <p class="no-margin text-white fs-8"><%= dream.address %></p>
  </div>
<% end %>
