<% if dreams.any? %>
  <% dreams.each do |dream| %>
    <%= render "dreams/dream", dream: dream %>
  <% end %>
<% else %>
  <div>
    <p class="no-margin">Désolé, pas de rêves trouvés.</p>
  </div>
<% end %>
