<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="dreamcard-container">
  <div class="dreamcard">
    <img class="dreamcard-image" src="#" alt="">
    <div class="dreamcard-info">
       <h2>Title</h2>
      <div class="dreamcard-tags">
        <p class="tag">Tag 1</p>
        <p class="tag">Tag 2</p>
        <p class="tag">Tag 3</p>
      </div>
      <p class="dreamcard-text">2 crédits</p>
    </div>
  </div>
</div>
