.button {
  display: flex;
  padding: 14px 28px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 10px;
  background: #5D63F1;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 400;
  width: 100%;

  .accept {
    background-color: #00C24A;
  }

  .refuse {
    background-color: #A60101;
  }

  .disabled {
    color: #545454;
    background-color: #232545;
  }
}
