.button {
  display: flex;
  padding: 14px 28px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 10px;
  background: #5D63F1;
  text-decoration: none;
  color: white;
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
}
