button {
  text-decoration: none;
  border: none;
}

.categories-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0 40px 0;
}

.category {
  display: flex;
  width: 140px;
  height: 100px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 10px;
  background-color: #21232B;
  //color: #9D9D9D;
  color: white;
  transition: background-color 0.3s ease;

  img {
    height: 30px;
  }

  p {
    margin-bottom: 0px;
  }
}

// .category.active {
//   background-color: #2D2F3B;
//   color: white;
// }

.category:hover {
  background-color: #5D63F1;
  color: white;
}
