.dreamcard-container {
  display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.dreamcard {
}

.dreamcard-image {
  width: 100%;
  height: 210px;
  align-self: stretch;
  border-radius: 10px;
  object-fit: cover;
}

.dreamcard-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;

}

.dreamcard-tags {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  margin-bottom: 0;
}

.tag {
  display: flex;
  padding: 6px 12px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #D9D9D9;
}

p {
  margin-bottom: 0px;
}

@media (max-width: 1400px) {
  .dreamcard-container {
      grid-template-columns: repeat(3, 1fr); /* 3 cartes sur écran moyen */
  }
}

@media (max-width: 900px) {
  .dreamcard-container {
      grid-template-columns: repeat(2, 1fr); /* 2 cartes sur tablette */
  }
}

@media (max-width: 600px) {
  .dreamcard-container {
      grid-template-columns: repeat(1, 1fr); /* 1 carte sur mobile */
  }
}
