.footer {
  display: flex;
  padding: 30px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: white;
  background-color: #15161A;
  border-top: 1px solid #242529;

  p {
    margin-bottom: 0;
  }
}
