.navbar-lewagon {
  justify-content: space-between;
  background: #15161a;
  color: white;
  border-bottom: 1px solid #242529;
  height: 80px;
  padding: 0px 30px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
